{% extends 'base.html' %}

{% block title %}Editar Región{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="box">
    <h1 class="title has-text-centered">Editar Región</h1>

    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <div class="field">
        <label class="label">Nombre</label>
        <div class="control">
          <input class="input" type="text" name="nombre" value="{{ region[1] }}" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Encargado</label>
        <div class="control">
          <input class="input" type="text" name="encargado" value="{{ region[2] }}" required>
        </div>
      </div>

      <div class="field is-grouped is-justify-content-center mt-5">
        <div class="control">
          <button class="button is-primary is-rounded px-5">Guardar Cambios</button>
        </div>
        <div class="control">
          <a href="{{ url_for('private_region.listado_regiones') }}"
            class="button is-light is-rounded px-5">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}