{% extends 'base.html' %}

{% block title %}Crear Usuario{% endblock %}

{% block content %}
<h1 class="title">Crear Nuevo Usuario</h1>

<form method="post">
  
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input class="input" type="text" name="username" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Contraseña</label>
    <div class="control">
      <input class="input" type="password" name="password" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Rol</label>
    <div class="control">
      <div class="select">
        <select name="rol" required>
          <option value="admin">Admin</option>
          <option value="editor">Editor</option>
          <option value="viewer">Viewer</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary">Guardar</button>
    </div>
    <div class="control">
      <a href="{{ url_for('private_usuario.listado_usuarios') }}" class="button is-light">Cancelar</a>
    </div>
  </div>
</form>
{% endblock %}
