{% extends 'base.html' %}

{% block title %}Editar Ingrediente{% endblock %}

{% block content %}
<h1 class="title">Editar Ingrediente</h1>

<form method="post">

<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

  <div class="field">
    <label class="label">Nombre</label>
    <div class="control">
      <input class="input" type="text" name="nombre" value="{{ ingrediente[1] }}" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Unidad de Medida</label>
    <div class="control">
      <input class="input" type="text" name="unidad" value="{{ ingrediente[2] }}" required>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary">Guardar Cambios</button>
    </div>
    <div class="control">
      <a href="{{ url_for('private_ingrediente.listado_ingredientes') }}" class="button is-light">Cancelar</a>
    </div>
  </div>
</form>
{% endblock %}
