{% extends 'base.html' %}

{% block title %}Editar Ingrediente{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="box">
    <h1 class="title has-text-centered">Editar Ingrediente</h1>

    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <div class="field">
        <label class="label">Nombre</label>
        <div class="control">
          <input class="input" type="text" name="nombre" value="{{ ingrediente[1] }}" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Unidad de Medida</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="id_unidad_medida" required>
              {% for unidad in unidades %}
              <option value="{{ unidad[0] }}" {% if unidad[0]==ingrediente[2] %}selected{% endif %}>
                {{ unidad[1] }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="field is-grouped is-justify-content-center mt-5">
        <div class="control">
          <button class="button is-primary is-rounded px-5">Guardar Cambios</button>
        </div>
        <div class="control">
          <a href="{{ url_for('private_ingrediente.listado_ingredientes') }}"
            class="button is-light is-rounded px-5">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}