{% extends 'base.html' %}

{% block title %}Carrito de Compras{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title is-3 has-text-primary mb-5">🛒 Tu Carrito</h1>

    {% if platos %}
    <table class="table is-fullwidth is-striped is-hoverable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        {% for plato in platos %}
        <tr>
          <td>{{ plato[0] }}</td>
          <td>{{ plato[1] }}</td>
          <td class="has-text-success">${{ "{:,.0f}".format(plato[4]) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="buttons mt-5">
      <a href="{{ url_for('public_carta.home_public') }}" class="button is-light">
        <i class="fas fa-home mr-2"></i> Volver a Carta
      </a>

      <a href="{{ url_for('public_carrito.finalizar_compra') }}" class="button is-success">
        <i class="fas fa-check mr-2"></i> Finalizar Compra
      </a>
    </div>
    {% else %}
    <div class="notification is-warning is-light">
      <strong>¡Ups!</strong> No tienes platos en el carrito.
    </div>
    <a href="{{ url_for('public_carta.home_public') }}" class="button is-link is-light mt-3">
      <i class="fas fa-utensils mr-2"></i> Ver Carta
    </a>
    {% endif %}
  </div>
</section>
{% endblock %}