{% extends 'base.html' %}

{% block title %}Editar Carta{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="box">
    <h1 class="title has-text-centered">Editar Carta</h1>

    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <div class="field">
        <label class="label">Nombre</label>
        <div class="control">
          <input class="input" type="text" name="nombre" value="{{ carta[1] }}" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Fecha Inicio</label>
        <div class="control">
          <input class="input" type="date" name="fecha_inicio" value="{{ carta[2] }}" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Fecha Fin</label>
        <div class="control">
          <input class="input" type="date" name="fecha_fin" value="{{ carta[3] }}" required>
        </div>
      </div>

      <div class="field mt-5">
        <label class="label">Platos Asociados</label>
        <div class="box has-background-white-ter">
          <div class="columns is-multiline">
            {% for plato in platos %}
            <div class="column is-half">
              <label class="checkbox is-flex is-align-items-center">
                <input type="checkbox" name="platos" value="{{ plato[0] }}" {% if plato[0] in platos_asociados
                  %}checked{% endif %}>
                <span class="ml-2">{{ plato[1] }}</span>
              </label>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="field is-grouped is-justify-content-center mt-5">
        <div class="control">
          <button class="button is-primary is-rounded px-5">Guardar Cambios</button>
        </div>
        <div class="control">
          <a href="{{ url_for('private_carta.listado_cartas') }}" class="button is-light is-rounded px-5">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</div>

<style>
  .checkbox input[type="checkbox"] {
    margin-right: 0.5rem;
    transform: scale(1.3);
  }

  .columns.is-multiline .column {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
</style>
{% endblock %}