{% extends 'base.html' %}





{% block title %}Editar Carta{% endblock %}





{% block content %}


<h1 class="title">Editar Carta</h1>





<form method="post">





  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">





  <div class="field">


    <label class="label">Nombre</label>


    <div class="control">


      <input class="input" type="text" name="nombre" value="{{ carta[1] }}" required>


    </div>


  </div>





  <div class="field">


    <label class="label">Fecha Inicio</label>


    <div class="control">


      <input class="input" type="date" name="fecha_inicio" value="{{ carta[2] }}" required>


    </div>


  </div>





  <div class="field">


    <label class="label">Fecha Fin</label>


    <div class="control">


      <input class="input" type="date" name="fecha_fin" value="{{ carta[3] }}" required>


    </div>


  </div>


  <div class="field">
    <label class="label">Platos asociados</label>
    <div class="control">
      {% for plato in platos %}
      <label class="checkbox">
        <input type="checkbox" name="platos" value="{{ plato[0] }}" {% if plato[0] in platos_asociados %}checked{% endif
          %}>
        {{ plato[1] }}
      </label><br>
      {% endfor %}
    </div>
  </div>



  <div class="field is-grouped">


    <div class="control">


      <button class="button is-primary">Guardar Cambios</button>


    </div>


    <div class="control">


      <a href="{{ url_for('private_carta.listado_cartas') }}" class="button is-light">Cancelar</a>


    </div>


  </div>


</form>


{% endblock %}