<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}Colombiano Coma Contento{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
  
  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {% if session.get('rol') == 'admin' %}
      <a class="navbar-item" href="{{ url_for('public_carta.home_public') }}">
        Colombiano Coma Contento
      </a>
    {% else %}
      <a class="navbar-item" href="{{ url_for('public_carta.home_public') }}">
        Colombiano Coma Contento
      </a>
    {% endif %}

  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      {% if session.get('rol') == 'admin' %}
        <a class="navbar-item" href="{{ url_for('private_ingrediente.listado_ingredientes') }}">Ingredientes</a>
        <a class="navbar-item" href="{{ url_for('private_dashboard.dashboard_home') }}">Indicadores</a>
        <a class="navbar-item" href="{{ url_for('private_plato.listado_platos') }}">Platos</a>
        <a class="navbar-item" href="{{ url_for('private_carta.listado_cartas') }}">Cartas</a>
        <a class="navbar-item" href="{{ url_for('private_region.listado_regiones') }}">Regiones</a>
        <a class="navbar-item" href="{{ url_for('private_categoria.listado_categorias') }}">Categoría</a>
        <a class="navbar-item" href="{{ url_for('private_venta.listado_ventas') }}">Ventas</a>
        <a class="navbar-item" href="{{ url_for('private_usuario.listado_usuarios') }}">Usuarios</a>
      {% else %}
        <a class="navbar-item" href="{{ url_for('public_carta.home_public') }}">Carta</a>
        <a class="navbar-item" href="{{ url_for('public_carrito.ver_carrito') }}">Carrito</a>
      {% endif %}
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        {% if session.get('usuario_id') %}
          <div>Hola, {{ session['username'] }}</div>
          <div class="buttons ml-2">
            <a class="button is-light" href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
          </div>
        {% else %}
          <div class="buttons">
            <a class="button is-light" href="{{ url_for('auth.login') }}">Iniciar sesión</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

  <section class="section">
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </section>


  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="notification is-light">
      {% for category, message in messages %}
        <div class="notification is-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

</body>
</html>
